body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
.box{
    margin: 1em;
    display: flex;
}
a{
    font-family: 'Kanit', sans-serif; 
    font-size: 16px;
    text-decoration: underline;
}
