
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
<style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
   
    input[type=checkbox] {
        margin-right: 190px;
    }  
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css'>
<title> updatememberdata</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
 
<body>

 <div class = "large_box" align = center>
        <div class="card text-white bg-primary mb-3"  style=" margin-bottom: 1.5em; padding: 1em;">
        <div class="header"><h1>แก้ไขข้อมูลสมาชิก</h1></div>
    </div>
<form action="#" 
  th:action="@{/update/member/{id}(id=${user.id})}" 
  th:object="${user}" 
  method="post">
    <label for="name" class="form-label mt-4">ชื่อจริง</label>
    <input type="text" class="form-control" th:field="*{fname}" id="name" placeholder="ชื่อจริง">
    <br>
    <span th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></span>
    <label for="name" class="form-label mt-4">นามสกุล</label>
    <input type="text" class="form-control" th:field="*{lname}" id="lname" placeholder="นามสกุล">
    <span th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></span>
     <div class="form-group">
      <fieldset class="form-group">
        <div class="card bg-light mb-3" style="max-width: 28em;">
        <label for="exampleInputEmail1"><p>เพศ</p> </label>
        <div class="form-check" style="padding-left: 16em;">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" th:field="*{sex}" id="1" value="male" checked="">
            ชาย
          </label>
        </div>
        <div class="form-check" style="padding-left: 16em;">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" th:field="*{sex}" id="2" value="female">
            หญิง
          </label>
        </div>
      </div>
      </fieldset>
  </div>
  <fieldset class="form-group">
    <div class="card bg-light mb-3" style="max-width: 28em;">
      <label for="exampleInputEmail1">ระดับสมาชิก</label>
    <div class="form-check" style="padding-left: 16em;">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" th:field="*{levelmember.levmem}" id="1" value="silver Member" checked="">
        silver Member
      </label>
    </div>
    <div class="form-check" style="padding-left: 16em;">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" th:field="*{levelmember.levmem}" id="2" value="Gold Member" >
        Gold Member
      </label>
    </div>
    <div class="form-check" style="padding-left: 16em;">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" th:field="*{levelmember.levmem}" id="3" value="Platinum Member" >
        Platinum Member
      </label>
    </div>
  </div>
  </fieldset>
   <label class="form-label mt-4">เบอร์โทรศัพท์</label>
    <input type="text" class="form-control" th:field="*{tel}" id="email" placeholder="012345678">
    <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></span>
    <br> 
    <br>
    <button type="submit" class="btn btn-primary">ยืนยันข้อมูล</button>  
</form>
   
   </body>
</html>