<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <title>LogIn</title>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@300;500&display=swap" rel="stylesheet"> 
<style>
	*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-size: 36px;
    font-family: 'Kanit', sans-serif;
}
.img{
    
    max-width: 40px;
}
.box{
    margin: 1em;
    display: flex;
}
button{
    font-family: 'Kanit', sans-serif; 
    font-size: 24px;
}
a{
    font-family: 'Kanit', sans-serif; 
    font-size: 16px;
    text-decoration: underline;
}

</style>

</head>



<body>
<div class = "large_box" align = center>
    <div class="card text-white bg-primary mb-3" style="max-width: 40em; margin: 1.5em; padding: 1em; display: flex; flex-direction: row;">
      
      <img style="max-width: 60px; " src="/icon/Orange Retro Illustrated Smiley Coffee Milk Logo.png" alt="LOGO">
    <h1 style="padding-left: 30%;">BevStation</h1>    
    </div>
    <div class="card-body">
                
               <a href="/add_product"> <button class="btn btn-primary" style="width: 35em; padding: 0.5em; margin: 1em;">ตรวจสอบจำนวนสินค้า</button></a>
        </div>
        <div class="card-body">
                
               <a href="/addmember"> <button class="btn btn-primary" style="width: 35em; padding: 0.5em; margin: 1em;">ข้อมูลสมาชิก</button></a>
        </div>
        
    </div>
    
</body>
</html>